[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
yapf = "*"
autopep8 = "*"

[packages]
requests = "*"
usaddress = "*"
xmltodict = "*"

[requires]
python_version = "3.7"
